.manage-development__heading, .manage-development__location-heading {
  font-size: 43px;
  font-family: lato;
  font-weight: 900;
  color: #505050;
}

.header__top-links li a, .header__bottom-links li a {
  font-family: lato;
  font-size: 14px;
  color: #505050;
  font-weight: 400;
}

.header__color-navy, .header__color-green, .header__color-yellow {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: none;
  margin-left: 10px;
}

.header__container, .hero-banner__content, .manage-development, .services__list, .aboutus__container, .footer__container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-banner__button, .aboutus__button, .aboutus__button:hover {
  font-family: lato;
  font-size: 22px;
  font-weight: 400;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}

.services__name {
  font-family: lato;
  font-size: 16px;
  font-weight: 900;
  color: #505050;
}

/* HEADER*/
.header {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
  z-index: 1;
  position: relative;
}

.header__container {
  background-color: #ffffff;
}

.header__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0px 22px 0px;
}

.header__vidarbha-logo-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 277px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: #505050;
  text-decoration: none;
  font-weight: 700;
}

.header__vidarbha-logo {
  padding: 0px 5px 0px 0px;
}

.header__top-links {
  margin: 0 0 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__top-links li {
  padding-right: 20px;
  list-style-type: none;
}

.header__top-links li a {
  text-decoration: none;
}

.header__small-a {
  font-size: 11px;
  font-weight: bold;
  padding-left: 10px;
}

.header__medium-a {
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.header__large-a {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}

.header__upper-right-border {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #265781;
  padding-right: 15px;
  margin-right: 10px;
}

.header select {
  border-style: none;
  margin-left: 5px;
}

.header__color-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__color-navy {
  background-color: #265781;
}

.header__color-green {
  background-color: #52B27B;
}

.header__color-yellow {
  background-color: #F2E162;
}

.header__search-icon-image {
  padding-right: 0;
}

.header__bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom-links li {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__bottom-links li a {
  text-decoration: none;
}

.header__bottom-right-border {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #505050;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom-right-border:nth-last-child(1) {
  border: none;
  padding-right: 0;
  margin-right: 0;
}

/* Tractor-Image_Section */
.hero-banner {
  position: relative;
}

.hero-banner__image {
  width: 100%;
}

.hero-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
}

.hero-banner__heading {
  color: #ffffff;
  background-color: #1B7642;
  font-family: lato;
  font-size: 57px;
  font-weight: 900;
  margin-bottom: 5px;
  padding: 0 20px 0 20px;
}

.hero-banner__sub-heading {
  color: #ffffff;
  background-color: #0F5C30;
  font-family: lato;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 30px;
  padding: 12px 21px 12px 21px;
}

.hero-banner__button {
  color: #272727;
  background-color: #ffffff;
}

.hero-banner__bottom-icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: -direction;
          flex-direction: -direction;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1B7642;
  position: absolute;
  padding: 25px;
  left: 50%;
  bottom: -6%;
}

.hero-banner__bottom-icon {
  border: 2px solid #ffffff;
  top: 40%;
  padding: 10px 6px;
}

/* Manage and Development Section */
.manage-development {
  margin-top: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 74px;
  position: relative;
}

.manage-development__elements {
  width: 876px;
}

.manage-development__image {
  font-size: 131px;
  font-weight: 900;
  line-height: 1;
  background-image: url(../images/tractor.png);
  font-family: lato;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  background-position: bottom;
}

.manage-development__heading {
  padding-left: 114px;
}

.manage-development__location-heading {
  text-align: end;
}

.manage-development__logo {
  position: absolute;
  right: 4%;
  height: 168px;
  width: 182px;
}

.services {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #ffffff), to(#E6E6E6));
  background-image: linear-gradient(#ffffff 100%, #E6E6E6 100%);
}

.services__list {
  padding: 120px 15px 123px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 903px;
}

.services li {
  list-style-type: none;
}

.services__item {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.services__image {
  height: 75px;
  width: 75px;
  margin-bottom: 21px;
}

.services__name {
  text-align: center;
  text-transform: uppercase;
}

/* About-Us-Section */
.aboutus {
  background-color: #3f3531;
  margin-bottom: 84px;
  position: relative;
}

.aboutus__paper-image {
  display: block;
}

.aboutus__container {
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
}

.aboutus__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutus__plant-image {
  position: relative;
}

.aboutus__play-button {
  position: absolute;
  top: 42%;
  left: 40%;
}

.aboutus__text {
  width: 395px;
  margin-right: 66px;
}

.aboutus__heading {
  font-size: 36px;
  font-family: lato;
  color: #ffffff;
  margin-bottom: 27px;
}

.aboutus__description {
  font-size: 16px;
  font-family: lato;
  font-weight: 400;
  margin-bottom: 36px;
  color: #ffffff;
}

.aboutus__button {
  color: #ffffff;
  background-color: #44AF72;
  display: inline-block;
}

.aboutus__button:hover {
  color: #ffffff;
  background-color: #0F5C30;
  display: inline-block;
}

.footer__crop-image {
  width: 100%;
  display: block;
}

.footer__background {
  background-color: #1B7642;
  padding: 30px 15px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left-content {
  width: 696px;
}

.footer li {
  list-style-type: none;
}

.footer__subscribe-elements {
  margin: 30px 0 27px 0;
  position: relative;
}

.footer__subscribe-heading {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  font-family: lato;
  margin-bottom: 24px;
  display: block;
}

.footer__input {
  width: 665px;
  background-color: #186a3b;
  border-radius: 20px;
  border-style: none;
  color: #ffffff;
  padding: 18px 0 18px 19px;
}

.footer ::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-family: lato;
  font-weight: 400;
}

.footer :-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-family: lato;
  font-weight: 400;
}

.footer ::-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  font-family: lato;
  font-weight: 400;
}

.footer ::placeholder {
  color: #ffffff;
  font-size: 14px;
  font-family: lato;
  font-weight: 400;
}

.footer__button {
  height: 37px;
  border-radius: 26px;
  border: none;
  font-family: lato;
  font-weight: 700;
  font-size: 16px;
  color: #393939;
  background-color: #ffffff;
  padding: 10px 34px;
  position: absolute;
  top: 57%;
  right: 5%;
  text-decoration: none;
}

.footer__site-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 75px;
}

.footer__site-links--item {
  font-family: lato;
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

.footer__content-links {
  margin-right: 101px;
}

.footer__links-heading {
  margin-bottom: 17px;
  font-family: lato;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.footer__extra-links {
  margin-top: 36px;
}

.footer__last-item {
  margin-bottom: 0px;
}

.footer__contact-details-elements {
  background-color: #0F5C30;
  width: 371px;
  padding: 38px 38px 36px 30px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__location-image {
  height: 30px;
  width: 23px;
  margin-top: 23px;
}

.footer__mail-image {
  height: 22px;
  width: 32px;
  margin-top: 10px;
}

.footer__contact-image {
  height: 33px;
  width: 23px;
  margin-top: 10px;
}

.footer__contact-text {
  margin-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-bottom: 2px solid #1B7642;
}

.footer__contact-heading {
  font-size: 18px;
  font-weight: 700;
  font-family: lato;
  color: #ffffff;
  margin-bottom: 11px;
}

.footer__details {
  font-size: 14px;
  font-weight: 400;
  font-family: lato;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 22px;
  opacity: 80%;
}

.footer__follow-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.footer__follow-us-heading {
  font-size: 18px;
  font-family: lato;
  font-weight: 700;
  color: #ffffff;
  padding-right: 27px;
  border-right: 2px solid #1B7642;
}

.footer__icon {
  color: #ffffff;
  margin-left: 22px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  color: #ffffff;
  font-family: lato;
}

.footer__copyright-brand-text {
  font-weight: 700;
  text-transform: capitalize;
}

.footer__copyright-text {
  font-weight: 400;
}

.footer__poweredby {
  font-weight: 900;
  margin-bottom: 10px;
  text-align: end;
}

.footer__business-entity {
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}
/*# sourceMappingURL=styles.css.map */