/* Tractor-Image_Section */
.hero-banner{
    position: relative;
    &__image{
        width:100%;
    }
    &__content{
        @extend %container;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top:45%;
        left:0;
        right:0;
        @include breakpoint(ipad-max){
            position: absolute;
            top: 50%;
            left: 0;
            right:0;   
        }
        @include breakpoint(mobile-max){
            position: absolute;
            top:55%;
            left: 0;
            right:0;
        }
        @include breakpoint(portrait-mobile-max){
            position: absolute;
            top:40%;
            left: 0;
            right:0;
        }
        @include breakpoint(custom-small-mobile-max){
            position: absolute;
            top:40%;
            left: 0;
            right:0;    
        }
    }
    &__heading{
        @include banner_section($white-color,$green-background-color,$primary-font,57px,900,5px); 
        @include padding(0,20px,0,20px);
        @include breakpoint(ipad-max){
            font-size:35px;
            padding:0 10px;
        }
        @include breakpoint(mobile-max){
            font-size: 25px;
            padding:0 10px;
        }
        @include breakpoint(portrait-mobile-max){
            font-size:20px;
            padding:0 5px;
        } 
    }
    &__sub-heading{
        @include banner_section($white-color,$dark-green,$primary-font,35px,900,30px); 
        @include padding(12px,21px,12px,21px); 
        @include breakpoint(ipad-max){
            font-size:30px;
            margin-bottom: 15px;
            padding:10px 15px;
        }
        @include breakpoint(mobile-max){
            font-size: 20px;
            margin-bottom:10px;
            padding:7px 12px;
        }
        @include breakpoint(portrait-mobile-max){
            font-size:15x;
            margin-bottom:8px;
            padding:5px 10px;
        }
        @include breakpoint(custom-small-mobile-max){
            font-size:15px;
            margin-bottom:8px;
            padding:3px 5px;    
        }
    }
    &__button{
        @extend %knowmore-buttons;
        color:$banner-button-color;
        background-color: $white-color;
        @include breakpoint(ipad-max){
            font-size:15px;
            padding:5px 10px;
        }
        @include breakpoint(mobile-max){
            font-size: 10px;
        }
        @include breakpoint(portrait-mobile-max){
            font-size:8px;
        }
        @include breakpoint(custom-small-mobile-max){
            font-size:5px;   
        }
    }
    &__bottom-icon-background{
        @include flex-items(flex,-direction,center);
        background-color:$green-background-color;
        position:absolute;
        padding:25px;
        left:50%;
        bottom:-6%;
        @include breakpoint(ipad-max){
            padding:15px;
        }
        @include breakpoint(mobile-max){
            padding:10px;
        }
        @include breakpoint(portrait-mobile-max){
            padding:8px;
        }
        @include breakpoint(custom-small-mobile-max){
            padding:5px;    
        }
    }
    &__bottom-icon{
        border:2px solid $white-color;
        top:40%;
        padding:10px 6px;
        @include breakpoint(ipad-max){
            padding:5px 3px;
        }
        @include breakpoint(mobile-max){
            padding:4px 2px;
        }
        @include breakpoint(portrait-mobile-max){
            padding:3px 1px;
        }
        @include breakpoint(custom-small-mobile-max){
            padding:2px 1px;    
        }
    }



}


/* Manage and Development Section */

.manage-development{
    @extend %container;
    margin-top:136px;
    display:flex;
    padding-left:74px;
    position:relative;
    @include breakpoint(ipad-max){
        margin-top:75px;
        padding-left:140px;   
    }
    @include breakpoint(mobile-max){
        margin-top:60px;
        padding-left: 74px;
    }
    @include breakpoint(portrait-mobile-max){
        margin-top:60px;
        padding-left:89px;
    }
    @include breakpoint(custom-small-mobile-max){
        margin-top: 50px;
        padding-left: 45px; 
    }
    &__elements{
        width:876px;
        @include breakpoint(ipad-max){
            width:655px;  
        }
        @include breakpoint(mobile-max){
            width:520px;
        }
        @include breakpoint(portrait-mobile-max){
            width:388px;
        }
        @include breakpoint(custom-small-mobile-max){
            width:300px;   
        }
    }
    &__image{
        font-size:131px;
        font-weight: 900;
        line-height: 1;
        background-image: url(../images/tractor.png);
        font-family:$primary-font;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-size: cover;
        background-position:bottom;
        @include breakpoint(ipad-max){
            font-size:95px; 
        }
        @include breakpoint(mobile-max){
            font-size:77px;
        }
        @include breakpoint(portrait-mobile-max){
            font-size: 55px;
        }
        @include breakpoint(custom-small-mobile-max){
            font-size: 40px; 
        }
    }
    &__heading{
        @extend %headings;  
        padding-left:114px;
        @include breakpoint(ipad-max){
            padding-left: 40px;
            font-size: 35px;
        }
        @include breakpoint(mobile-max){
            font-size:28px;
            padding-left:60px;
        }
        @include breakpoint(portrait-mobile-max){
            font-size:22px;
            padding-left:40px;
        }
        @include breakpoint(custom-small-mobile-max){
            font-size: 17px;
            padding-left: 35px;  
        }
    }
    &__location-heading{
        @extend %headings;
        text-align:end; 
        @include breakpoint(ipad-max){
            font-size: 35px;
        }
        @include breakpoint(mobile-max){
            font-size:25px;
        }
        @include breakpoint(portrait-mobile-max){
            font-size: 22px;
        }
        @include breakpoint(custom-small-mobile-max){
            font-size: 17px;  
        }
    }
    &__logo{
        position:absolute;
        right:4%;
        height:168px;
        width:182px;
        @include breakpoint(ipad-max){
            position:absolute;
            right:11%;
            height:128px;
            width:135px;
        }
        @include breakpoint(mobile-max){
            position:absolute;
            right:12%;
            height:100px;
            width:110px;
        }
        @include breakpoint(portrait-mobile-max){
            position: absolute;
            right:9%;
            height:75px;
            width:80px;
        }
        @include breakpoint(custom-small-mobile-max){
            position: absolute;
            right: 35%;
            height:115px;
            width:120px;
            top:110%;

        }
    }
}
   

.services{
    background-image: linear-gradient($white-color  100%,$light-white-color 100%);
    &__list{
        @extend %container;
        @include padding(120px,15px,123px,15px);
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:903px;
        @include breakpoint(ipad-max){
            display: flex;
            flex-wrap: wrap;
            width:500px;
        }
        // @include breakpoint(mobile-max){
        //     width:498px;
        //     padding:40px 5px;
        // }
        // @include breakpoint(portrait-mobile-max){
        //     width:358px;
        //     padding:30px 5px;
        // }
        // @include breakpoint(custom-small-mobile-max){
        //     width:300px;  
        //     padding: 25px 3px; 
        // }
    }
    li{
        list-style-type: none;
    }
    &__item{
        width:120px;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        // @include breakpoint(ipad-max){
        //     width:80px;  
        // }
        // @include breakpoint(mobile-max){
        //     width:55px;
        // }
        // @include breakpoint(portrait-mobile-max){
        //     width:45px;
        // }
        // @include breakpoint(custom-small-mobile-max){
        //     width:40px;   
        // }
    }
    &__image{
        height:75px;
        width:75px;
        margin-bottom:21px;
        // @include breakpoint(ipad-max){
        //     height:40px;
        //     width:40px;
        //     margin-bottom: 15px; 
        // }
        // @include breakpoint(mobile-max){
        //     height:30px;
        //     width:30px;
        //     margin-bottom: 10px;
        // }
        // @include breakpoint(portrait-mobile-max){
        //     height:20px;
        //     width:20px;
        //     margin-bottom: 8px;
        // }
        // @include breakpoint(custom-small-mobile-max){
        //     height: 15px;
        //     width: 15px;
        //     margin-bottom: 5px;  
        // }
    }
    &__name{
        @extend %service-section-names;
        text-align: center;
        text-transform: uppercase;
        // @include breakpoint(ipad-max){
        //     font-size:10px;  
        // }
        // @include breakpoint(mobile-max){
        //     font-size:10px;
        // }
        // @include breakpoint(portrait-mobile-max){
        //     font-size: 8px;
        // }
        // @include breakpoint(custom-small-mobile-max){
        //     font-size: 5px;  
        // }
    }
}




/* About-Us-Section */
.aboutus{
    background-color:$background-color-brown;
    margin-bottom:84px;
    position: relative;
    @include breakpoint(ipad-max){
        margin-bottom: 50px;
    }
    &__paper-image{
        display: block;
    }
    &__container{
        @extend %container;
        position: absolute;
        top:15%;
        right:0;
        left:0;
        @include breakpoint(ipad-max){
            position: absolute;
            top:10%;
            right:0;
            left:0;
        }
    }
    &__elements{
        display: flex;
        justify-content: space-between;
    }
    &__plant-image{
        position:relative;
        height:352px;
        width:556px;
        @include breakpoint(ipad-max){
            height:130px;
            width:270px;
        }
    }
    &__play-button{
        position:absolute;
        top:42%;
        left:40%;
        @include breakpoint(ipad-max){
            position: absolute;
            top:20%;
            left:20%;
        }
    }
    &__text{
        width:395px;
        margin-right:66px;
        @include breakpoint(ipad-max){
            width:200px;
            margin-top:35px;
        }
    }
    &__heading{
        font-size: 36px;
        font-family: lato;
        color:$white-color;
        margin-bottom: 27px;
        @include breakpoint(ipad-max){
            font-size: 20px;
            margin-bottom: 18px;
        }   
    }
    &__description{
        font-size:16px;
        font-family:$primary-font;
        font-weight: 400;
        margin-bottom:36px;
        color:$white-color;
        @include breakpoint(ipad-max){
            font-size: 10px;
            margin-bottom: 18px;
        }
    }
    &__button{
        @extend %knowmore-buttons;
        color:$white-color;
        background-color:$green;
        display: inline-block;
        @include breakpoint(ipad-max){
            font-size:15px;
            padding:5px 10px;
        }
        &:hover{
            @extend %knowmore-buttons;
            color:$white-color;
            background-color:$dark-green;
            display: inline-block;
            @include breakpoint(ipad-max){
                font-size:15px;
                padding:5px 10px;
            }
        }
    }
}
    











