/* Tractor-Image_Section */
.hero-banner{
    position: relative;
    &__image{
        width:100%;
    }
    &__content{
        @extend %container;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top:45%;
        left:0;
        right:0;
    }
    &__heading{
        @include banner_section($white-color,$green-background-color,$primary-font,57px,900,5px); 
        @include padding(0,20px,0,20px);
    }
    &__sub-heading{
        @include banner_section($white-color,$dark-green,$primary-font,35px,900,30px); 
        @include padding(12px,21px,12px,21px); 
    }
    &__button{
        @extend %knowmore-buttons;
        color:$banner-button-color;
        background-color: $white-color;
    }
    &__bottom-icon-background{
        @include flex-items(flex,-direction,center);
        background-color:$green-background-color;
        position:absolute;
        padding:25px;
        left:50%;
        bottom:-6%;
    }
    &__bottom-icon{
        border:2px solid $white-color;
        top:40%;
        padding:10px 6px;
    }



}


/* Manage and Development Section */

.manage-development{
    @extend %container;
    margin-top:136px;
    display:flex;
    padding-left:74px;
    position:relative;
    &__elements{
        width:876px;
    }
    &__image{
        font-size:131px;
        font-weight: 900;
        line-height: 1;
        background-image: url(../images/tractor.png);
        font-family:$primary-font;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-size: cover;
        background-position:bottom;
    }
    &__heading{
        @extend %headings;  
        padding-left:114px;
    }
    &__location-heading{
        @extend %headings;
        text-align:end; 
    }
    &__logo{
        position:absolute;
        right:4%;
        height:168px;
        width:182px;
    }
}
   

.services{
    background-image: linear-gradient($white-color  100%,$light-white-color 100%);
    &__list{
        @extend %container;
        @include padding(120px,15px,123px,15px);
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:903px;
    }
    li{
        list-style-type: none;
    }
    &__item{
        width:120px;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    &__image{
        height:75px;
        width:75px;
        margin-bottom:21px;
    }
    &__name{
        @extend %service-section-names;
        text-align: center;
        text-transform: uppercase;
    }
}




/* About-Us-Section */
.aboutus{
    background-color:$background-color-brown;
    margin-bottom:84px;
    position: relative;
    &__paper-image{
        display: block;
    }
    &__container{
        @extend %container;
        position: absolute;
        top:15%;
        right:0;
        left:0;
    }
    &__elements{
        display: flex;
        justify-content: space-between;
    }
    &__plant-image{
        position:relative;
    }
    &__play-button{
        position:absolute;
        top:42%;
        left:40%;
    }
    &__text{
        width:395px;
        margin-right:66px;
    }
    &__heading{
        font-size: 36px;
        font-family: lato;
        color:$white-color;
        margin-bottom: 27px;   
    }
    &__description{
        font-size:16px;
        font-family:$primary-font;
        font-weight: 400;
        margin-bottom:36px;
        color:$white-color;
    }
    &__button{
        @extend %knowmore-buttons;
        color:$white-color;
        background-color:$green;
        display: inline-block;
    }
    &__button:hover{
        @extend %knowmore-buttons;
        color:$white-color;
        background-color:$dark-green;
        display: inline-block;
    }
}
    











