.footer{
    background-image: url("./../images/cropimage.png");
    background-size: cover;
    &__container{
        @extend %container;
        position: relative;
    }
    li{
        list-style-type: none;
    }
    &__subscribe-elements{
        padding-top:133px;
        width:714px;
    }
    &__subscribe-heading{
        color:$white-color;
        font-size:22px;
        font-weight:700;
        font-family:$lato-family;
        margin-bottom:24px;
        display:block;
    }
    &__input{
        width:670px;
        background-color:$light-green;
        border-radius: 20px;
        border-style:none;
        color:$white-color;
        padding:18px 0 18px 19px;
    }
    ::placeholder{
        color:$white-color;
        font-size: 14px;
        font-family: $lato-family;
        font-weight:400;
    }
    &__button{
        border-radius: 26px;
        border: none;
        font-family:$lato-family;
        font-weight:700;
        font-size: 16px;
        color:$light-brown;
        background-color: $white-color;
        padding:12px 34px;
        position:absolute;
        top: 33%;
        right:39%;
        text-decoration: none;
        display: inline-block;
    }
    &__links{
        margin-top:27px;
        display: inline-flex;
    }
    &__content-links{
        margin-right:101px;
    }
    &__links-heading{
        margin-bottom:17px;
        font-family: $lato-family;
        font-weight: 700;
        font-size:18px;
        color:$white-color;
    }
    &__extra-links{
        margin-top:36px;
    }
    &__item{
        font-family: $lato-family;
        font-size:14px;
        color:$white-color;
        text-decoration: none;
        margin-bottom: 15px;
        text-transform: capitalize;
        display: inline-block;
    }
    &__last-item{
        margin-bottom: 0px;
    }
    &__contact-details{
        background-color:$dark-green;
        width:371px;
        position:absolute;
        right:0%;
        top:20%;
    }
    &__contact-details-elements{
        margin:40px 38px 32px 30px;
    }
    &__contact{
        display: flex;
        margin-bottom:20px;
    }
    &__location-image{
        height: 30px;
        width:23px;
        margin-top:23px;
    }
    &__mail-image{
        height:22px;
        width:32px;
        margin-top:10px;
    }
    &__contact-image{
        height:33px;
        width:23px;
        margin-top:10px;
    }
    &__contact-text{
        margin-left:26px;
        display: flex;
        flex-direction: column;
        width:100%;
        border-bottom: 2px solid $light-green-color;
    }
    &__contact-heading{
        font-size:18px;
        font-weight:700;
        font-family: $lato-family;
        color:$white-color;
        margin-bottom:11px;
    }
    &__mail{
        margin-bottom: 0px;;
    }
    &__details{
        font-size:14px;
        font-weight:400;
        font-family: $lato-family;
        color:$white-color;
        text-decoration: none;
        margin-bottom:22px;
    }
    &__follow-us{
        display: flex;
        margin-top:40px;
    }
    &__follow-us-heading{
        font-size:18px;
        font-family:$lato-family;
        font-weight:700;
        color:$white-color;
        padding-right:27px;
        border-right: 2px solid $light-green-color;
    }
    &__icon{
        color:white;
        margin-left:22px;
    }
    &__copyright{
        padding:70px 0px 40px 0px;
        width:715px;
        display: inline-flex;
        justify-content: space-between;

    }
    &__copyright-brand-text{
        color:$white-color;
        font-family: $lato-family;
        font-weight:700;
        font-size:12px;
        text-transform: capitalize;
    }
    &__copyright-text{
        color:$white-color;
        font-family: $lato-family;
        font-weight:400;
        font-size:12px;

    }
    &__poweredby{
        color:$white-color;
        font-family: $lato-family;
        font-weight: 900;
        font-size:12px;
        margin-bottom:10px;
    }
    &__business-entity{
        color:$white-color;
        font-family: $lato-family;
        font-weight: 400;
        font-size:12px;

    }
}


