

/* HEADER*/
.header{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11);
    z-index: 1;
    position:relative;
    @include breakpoint(ipad-max){
        position: relative; 
    }
    &__icon{
        display: none;
        @include breakpoint(ipad-max){
            display: block;  
            font-size: 35px; 
        }
        @include breakpoint(custom-small-mobile-max){
            font-size: 20px;
        }
    }
    &__container{
        background-color: $white-color;
        @extend %container;
    }
    &__hide{
        @include breakpoint(ipad-max){
            display:block;
            position: absolute;
            top: 100%;
            left:0;
            right:0; 
        }
        @include breakpoint(ipad-max){
            display: none;  
            background-color:$background-color-brown ;
            padding:20px 0;
        }
        
    }
    // &__hide1{
    //     @include breakpoint(ipad-max){
    //         display: block;   
    //     }
    //     @include breakpoint(medium-large-desktop-max){
    //         display: none;   
    //     }

    // }
    &__nav-container{
    @include flex-items(flex, row, space-between);
    @include padding(15px,0px,22px,0px);
    }
    &__vidarbha-logo-elements{
        display: flex;
        width:277px;
        align-items: center;
        font-size: 15px;
        color:$browncolor;
        text-decoration: none;
        font-weight:700;
        @include breakpoint(custom-small-mobile-max){
            width:167px;
            font-size: 8px;
            text-align: center;
        }
    }
    &__vidarbha-logo{
        @include padding(0px,5px,0px,0px);
        @include breakpoint(custom-small-mobile-max){
            height:30px;
            width:60px;
        }
        
    }
    &__top-links{
        @include margin(0,0,13px,0);
        @include flex-items(flex, row, end);
        @include breakpoint(ipad-max){
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0;
        }
        li{
            padding-right:20px;
            list-style-type: none;
            @include breakpoint(ipad-max){
                padding: 0;
                margin-bottom:10px;
        
            }
            a{
                text-decoration: none;
                @extend %links;
                @include breakpoint(ipad-max){
                    font-size: 25px;
                    margin-bottom: 10px;
                    color:$light-gray-color;
                }
                @include breakpoint(custom-small-mobile-max){
                    font-size: 20px;
                }
            }
        }
        @include breakpoint(ipad-max){
            display: flex;
            flex-direction: column;  
        }
    
    }
    &__small-a{
        @include a_series(11px,bold,10px);  
    }
    &__medium-a{
        @include a_series(14px,bold,10px);
    }
    &__large-a{
        @include a_series(16px,bold,10px);   
    }
    &__upper-right-border{
        @include border_lines(solid,1px,$border-and-icon-color);
        padding-right:15px;
        margin-right:10px;
        @include breakpoint(ipad-max){
            display: none;
        }
    }
    select{
        border-style: none;
        margin-left:5px;
    }
    &__color-links{
        display: flex;
        @include breakpoint(ipad-max){
            display: none;
        }
    }
    &__color-navy{
        @extend %colors;
        background-color:$border-and-icon-color;
    }
    &__color-green{
        @extend %colors;
        background-color:$icon-green-color;
    }
    &__color-yellow{
        @extend %colors;
        background-color:$icon-yellow-color;
    } 
    &__search-icon-image{
        padding-right:0;
        @include breakpoint(ipad-max){
            display: none;   
        }
    }
    &__bottom-links{
        @include flex-items(flex, row, end);
        align-items: center;
        li{
            padding-right:10px;
            display: flex;
            align-items: center;
            list-style-type: none;
            @include breakpoint(ipad-max){
                padding: 0;
        
            }
            a{
                text-decoration: none;
                @extend %links;
                @include breakpoint(ipad-max){
                    font-size: 25px;
                    margin-bottom: 10px;
                    color:$light-gray-color;
                }
                @include breakpoint(custom-small-mobile-max){
                    font-size: 20px;
                }
            }
        }
        @include breakpoint(ipad-max){
            display: flex;
            flex-direction: column;  
        }
    }
    &__bottom-right-border{
        @include border_lines(solid,1px,$browncolor);
        margin-right:10px;
        align-items: center;
        @include breakpoint(ipad-max){
            border: none;   
        }
    }
    &__bottom-right-border:nth-last-child(1){
        border:none;
        padding-right:0;
        margin-right:0;
    }
}
.show{
    display: flex;
    flex-direction: column-reverse;
}
.icon{
    display: none;
}




                
                                   
                
            
                
                
   