$light-green:#186a3b;
$dark-green:#0F5C30;
$green-background-color:#1B7642;
$light-gray-color:lightgray;
$background-color-brown:#3f3531;
$browncolor:#505050;
$white-color:#ffffff;
$aboutus-button:#44AF72;
$border-and-icon-color:#265781;
$icon-green-color:#52B27B;
$icon-yellow-color:#F2E162;
$banner-button-color:#272727;
$light-white-color:#E6E6E6;




$lato-family:lato;
$bold-weight:bold;
$crop-image:url("../Images/cropimage.png");